<h1>Dein Ergebnis</h1>
<f:for each="{exam.questions}" as="question">
    <p>{question.question} ({question.correctAnswers})</p>
    <table>
        <tr>
            <th>Antwort</th>
            <th>Ist richtig</th>
            <th>Deine Antwort</th>
        </tr>
        <f:for each="{question.answers}" as="answer">
            <tr>
                <td>{answer.answer}</td>
                <td>
                    <f:if condition="{answer.isCorrect}">
                        <f:then>Ja</f:then>
                        <f:else>Nein</f:else>
                    </f:if>
                </td>
                <td>
                    <f:if condition="{examPractice:contains(item:answer.uid, array:givenAnswers)}">
                        <f:then>Ja</f:then>
                        <f:else>Nein</f:else>
                    </f:if>
                </td>
            </tr>
        </f:for>
    </table>
</f:for>