<f:form action="create" name="exam" object="{exam}" enctype="multipart/form-data">
    <f:for each="{exam.questions}" as="question">
        <p>{question.question} ({question.correctAnswers})</p>
        <f:for each="{question.answers}" as="answer" iteration="i">
            <label for="answer-{i.index}">{i.cycle}
                <f:form.checkbox property="answers" id="answer-{i.index}" additionalAttributes="{data-question:question.uid}" name="answer" value="{answer.uid}"/> {answer.answer}<br>
            </label>
        </f:for>
    </f:for>
    <f:form.submit value="Submit" />
</f:form>